@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-deuce-light text-deuce-dark;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
